#root{
  height: 100%;
  width: 100%;
}
.page-container{
  height: 100%;
  width: 100%;
}
.email-form{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
.ant-page-header{
  background-color: wheat;
}
.ant-card-hoverable{
  border-radius: 10px;
  height: 500px;
  width: 500px;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
.ant-card-body {
  height: 80%;
  width: 80%;
}
.ant-btn-primary {
  border-radius: 40px;
}
.loading{
  position: absolute;
  z-index: 1000000;
}